<div class="question mt-4" id="triage-question-specific-symptoms" style="display:none;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="question-form-1">
                            <div class="mb-3" id="pain-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your pain</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-pain1">
                                    <label class="form-check-label" for="symptom-pain1">Pain1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-pain2">
                                    <label class="form-check-label" for="symptom-pain2">Pain2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="fever-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your fever</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-fever1">
                                    <label class="form-check-label" for="symptom-fever1">Fever1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-fever2">
                                    <label class="form-check-label" for="symptom-fever2">Fever1</label>
                                </div>
                            </div>
                            <div class="mb-3" id="cough-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your cough</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-cough1">
                                    <label class="form-check-label" for="symptom-cough1">Cough1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-cough2">
                                    <label class="form-check-label" for="symptom-cough2">Cough2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="shortness-of-breath-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your shortness of breath</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-shortness-of-breath1">
                                    <label class="form-check-label" for="symptom-shortness-of-breath1">shortness of breath 1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-shortness-of-breath2">
                                    <label class="form-check-label" for="symptom-shortness-of-breath2">shortness of breath 2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="dizziness-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your dizziness</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-dizziness1">
                                    <label class="form-check-label" for="symptom-dizziness1">dizziness1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-dizziness2">
                                    <label class="form-check-label" for="symptom-dizziness2">dizziness2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="headache-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your headache</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-headache1">
                                    <label class="form-check-label" for="symptom-headache1">headache1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-headache2">
                                    <label class="form-check-label" for="symptom-headache2">headache2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="nausea-vomiting-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your nausea / vomiting</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-nausea-vomiting1">
                                    <label class="form-check-label" for="symptom-nausea-vomiting1">nausea-vomiting1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-nausea-vomiting2">
                                    <label class="form-check-label" for="symptom-nausea-vomiting2">nausea-vomiting2</label>
                                </div>
                            </div>
                            <div class="mb-3" id="swelling-questions" style="display:none;">
                                <h6 class="card-title text-center">Please select the attributes that best describe your swelling</h6>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="pain" id="symptom-swelling1">
                                    <label class="form-check-label" for="symptom-swelling1">swelling1</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" name="symptoms" value="fever" id="symptom-swelling2">
                                    <label class="form-check-label" for="symptom-swelling2">swelling2</label>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary w-100" onclick="nextQuestion(2)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
