<div class="question mt-4" id="triage-question-1" style="display:none;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Are you experiencing any of the following severe symptoms?</h5>
                        <form id="question-form-1">
                            <!-- Severe Symptoms Checkboxes -->
                            <!-- <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="chest_pain" id="severe-chest-pain">
                                <label class="form-check-label" for="severe-chest-pain">Chest Pain</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="difficulty_breathing" id="severe-difficulty-breathing">
                                <label class="form-check-label" for="severe-difficulty-breathing">Difficulty Breathing</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="loss_of_consciousness" id="severe-loss-of-consciousness">
                                <label class="form-check-label" for="severe-loss-of-consciousness">Loss of Consciousness</label>
                            </div> -->
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="breathing">
                                <label class="form-check-label" for="breathing">Are you having difficulty breathing?</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="consciousness">
                                <label class="form-check-label" for="consciousness">Have you lost consciousness?</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="blood-loss">
                                <label class="form-check-label" for="blood-loss">Are you experiecing rapid and uncontrollable blood loss?</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="c">
                                <label class="form-check-label" for="seizure">Have you had a seizure or episode of convulsions?</label>
                            </div>
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="allergies">
                                <label class="form-check-label" for="allergies">Are you experiencing symptoms of a severe allergic reaction, such as swelling of the lips, tongue, or throat, or difficulty breathing?</label>
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" name="severe-symptoms" value="5" id="stroke">
                                <label class="form-check-label" for="stroke">Do you have sudden weakness or numbness in the face, arm, or leg, especially on one side of the body?</label>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <button class="btn btn-primary w-100" onclick="nextQuestion(1)">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

